
@{
    ViewBag.Title = "Index";
}

<body class="faqhome"></body>

<h2>Donors- Frequently Asked Questions</h2>

<ul>Q. What is my liability when donating food?</ul>
<ul>A. To encourage companies and organizations to donate food that would otherwise go to waste, on October 1, 1996, President Bill Clinton signed The Federal Bill Emerson Good Samaritan Food Donation Act which protects organizations from liability when they donate to non-profit organizations. The Act also protects them from civil and criminal liability should the product donated in good faith later cause harm to the recipient.</ul>
<ul>Q. What are the costs of using this service?</ul>
<ul>A. None.  This app simply connects donor organizations who happen to have excess food (such as restaurants, vendors, cafes, markets, farms, etc) with organizations whose mission is to collect and distribute donated food (i.e. food banks).  Thats it.  There is no charge for this service.</ul>
<ul>Q. What are the cost benefits?</ul>
<ul>A. IRC Section 170(e)(3) encourages donations with enhanced tax deduction which can reduce the after-tax cost of surplus food by 59%!  There is also waste management cost savings – Companies spend on average $15.89 per cubic yard of loose refuse. Restaurants and other food providers can save over $1,080 of average waste cost savings per year if they choose to donate rather than dump.</ul>
<ul>Q. Are there any other benefits?</ul>
<ul>A. Along with the knowledge that you are proving food that you would otherwise throw away to someone in need, there is also the benefits of brand association. Our partners are associated with our mission. They may also choose to be marketed on our website.</ul>

<h2>Recipient Organizations- Frequently Asked Recipient Questions</h2>

<ul>Q. What is the main benefit of using this site?</ul>
<ul>A. Scaleability.  Rather than drive across town to pick up one small donation from a restaurant or other type of willing donor (or worse decline a donation because it doesn't meet your minimum pick-up weight!), this app allows you to view all avaiable donations in your area, claim multiple donations, and then design your most efficient pick-up route to pick them up on the same trip!</ul>
<ul>Q. What are the costs of using this service?</ul>
<ul>A. As noted above, there are none.  This app simply connects donor organizations who happen to have excess food (such as restaurants, vendors, cafes, markets, farms, etc) with organizations whose mission is to collect and distribute donated food (i.e. food banks).  Thants it.  There is no charge for this service.</ul>
<ul>Q. Are there any other benefits?</ul>
<ul>A. Along with the benefits of scaleability, reciepient organizations may also choose to be marketed on our website, where we're happy to provide information about your organization, its mission, and volunteer opportunities.</ul>
