<link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Karma" rel="stylesheet">

@{
    ViewBag.Title = "Home Page";
}



<body class="home"></body>

<div class="jumbotron">
    <h1 class="jumbohead">TableSource CLE</h1>
    <p class="lead">A technology-driven platform connecting small-scale commercial food donors with recipient organizations</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Log in &raquo;</a></p>
</div>

<div class="row">
    <div class="col-lg-12">
        
        
        <h2 class="white"> The Problem</h2>
       
        <p class="white"> The United States spends $218 billion a year growing, processing, transporting, and disposing of food that is never eaten.</p>
            
        <p class="white">According to a waste audit conducted over 5 days at Cleveland’s West Side Market in 2008, an average of 500 pounds of food waste
         is generated during peak market days (about 2,500 pounds per week).</p>
            
        <p class="white">Audits conducted at three other area restaurants revealed an average generation of about 400 pounds of food waste per week.</p>
        <p class="white">Much of the problem lies in the fact that smaller donations (under 50 pounds) are expensive for food recovery organizations to pick up, leading many to set minimum amounts for donation.</p>
            
        
        
        
        
        <h2 class="white">The Solution</h2>

        <p class="white">Table Source CLE connects smaller commercial food donors (such as restaurants, cafes, farms, etc.) with recipient 
        organizations (such as food banks, shelters, etc.) to facilitate smaller-scale food donations.  

        The goal is to provide "scaleability"...the ability for recipient organizations to accept increased volume while minimizing 
         variable costs. This is accomplised by allowing local food recovery agencies to identify multiple small pickups at once and 
        design efficient pick-up routes to recover food that otherwise would go to waste.
            
        </p>
        <p><a class="btn btn-default" @Html.ActionLink("FAQ", "Index", "FAQ")</a></p>
    </div>
    <div class="col-md-6">
        <h2 class="white">Donors</h2>
        <p class="white">Click here to learn more about donating unused food, and register your organization.</p>
        <p><a class="btn btn-default" @Html.ActionLink("Donate Now", "Index", "Donations")</a></p>
    </div>
    <div class="col-md-6">
        <h2 class="white">Recipient Organizations</h2>
        <p class="white">Click here to learn how to claim donations and to register your organization</p>
        <p><a class="btn btn-default" @Html.ActionLink("Claim Donations", "Index", "RecipientOrganizations")</a></p>
    </div>
</div>